/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}




body{
    background-color: black;
    overflow-x: hidden;
    color: lightgoldenrodyellow;
}

.bg-image{
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: -50px;
    margin-bottom: -100px;
}

footer{
    width: 100%;
    position: relative;
    height: auto;
    color: white;
}
.contact{
    text-align: left;
    font-size: 15px;
}

.text-center{
    text-align: center;
}


#premier_bloc{
    width: 18rem;
    margin: 10%;
    background-color: #EEBF72;
    color: black;
    font-family: cursive;

}

#second_bloc{
    width: 18rem;
    margin: 10%;
    background-color: #EEBF72;
    color: black;
    font-family: cursive;

}


